In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
df.dropna(inplace=True)

In [6]:
blanks = []
for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [7]:
df.drop(blanks,inplace=True)

In [14]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [9]:
SIA = SentimentIntensityAnalyzer()

In [11]:
SIA.polarity_scores(df['review'][0])

{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'compound': -0.9125}

In [12]:
print((df['review'][0]))

how do films like mouse hunt get into theatres ?
isn't there a law or something ?
this diabolical load of claptrap from steven speilberg's dreamworks studio is hollywood family fare at its deadly worst .
mouse hunt takes the bare threads of a plot and tries to prop it up with overacting and flat-out stupid slapstick that makes comedies like jingle all the way look decent by comparison .
writer adam rifkin and director gore verbinski are the names chiefly responsible for this swill .
the plot , for what its worth , concerns two brothers ( nathan lane and an appalling lee evens ) who inherit a poorly run string factory and a seemingly worthless house from their eccentric father .
deciding to check out the long-abandoned house , they soon learn that it's worth a fortune and set about selling it in auction to the highest bidder .
but battling them at every turn is a very smart mouse , happy with his run-down little abode and wanting it to stay that way .
the story alternates between unfunny scenes of the brothers bickering over what to do with their inheritance and endless action sequences as the two take on their increasingly determined furry foe .
whatever promise the film starts with soon deteriorates into boring dialogue , terrible overacting , and increasingly uninspired slapstick that becomes all sound and fury , signifying nothing .
the script becomes so unspeakably bad that the best line poor lee evens can utter after another run in with the rodent is : " i hate that mouse " .
oh cringe !
this is home alone all over again , and ten times worse .
one touching scene early on is worth mentioning .
we follow the mouse through a maze of walls and pipes until he arrives at his makeshift abode somewhere in a wall .
he jumps into a tiny bed , pulls up a makeshift sheet and snuggles up to sleep , seemingly happy and just wanting to be left alone .
it's a magical little moment in an otherwise soulless film .
a message to speilberg : if you want dreamworks to be associated with some kind of artistic credibility , then either give all concerned in mouse hunt a swift kick up the arse or hire yourself some decent writers and directors .
this kind of rubbish will just not do at all .

In [10]:
df['score']=df['review'].apply(lambda rv: SIA.polarity_scores(rv))

In [13]:
df['compound'] = df['score'].apply(lambda d:d['compound'])

In [15]:
df['comp_score'] = df['compound'].apply(lambda score:'pos' if score >= 0 else 'neg')

In [16]:
df.head()

,label,review,score,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [17]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [18]:
print(accuracy_score(df['label'],df['comp_score']))

0.6357069143446853

In [19]:
print(confusion_matrix(df['label'],df['comp_score']))

[[427 542]
 [164 805]]

In [21]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938