In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('train.csv')

In [10]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [11]:
df.drop(['id','qid1','qid2','question2','is_duplicate'], inplace=True,axis=1)

In [12]:
df.head()

                                           question1
0  What is the step by step guide to invest in sh...
1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2  How can I increase the speed of my internet co...
3  Why am I mentally very lonely? How can I solve...
4  Which one dissolve in water quikly sugar, salt...

In [13]:
df.dropna(inplace=True)

In [15]:
blancks=[]
for i,qn in df.itertuples():
    if type(qn) == str:
        if qn.isspace():
            blancks.append(i)
blancks

[]

In [16]:
df.drop(blancks,inplace=True)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [18]:
dtm = tfidf.fit_transform(df['question1'])

In [19]:
dtm

<404289x38669 sparse matrix of type '<class 'numpy.float64'>'
	with 2002912 stored elements in Compressed Sparse Row format>

In [20]:
from sklearn.decomposition import NMF

In [21]:
nmf_model = NMF(n_components=20,random_state=42)

In [22]:
nmf_model.fit(dtm)

c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\decomposition\_nmf.py:315: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  "'nndsvda' in 1.1 (renaming of 0.26)."), FutureWarning)
c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\decomposition\_nmf.py:1091: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  " improve convergence." % max_iter, ConvergenceWarning)

NMF(n_components=20, random_state=42)

In [23]:
topic_sel = nmf_model.transform(dtm)

In [26]:
topic_sel[0].argmax()

5

In [29]:
df['topic']=topic_sel.argmax(axis=1)

In [30]:
df.head()

                                           question1  topic
0  What is the step by step guide to invest in sh...      5
1  What is the story of Kohinoor (Koh-i-Noor) Dia...     16
2  How can I increase the speed of my internet co...     17
3  Why am I mentally very lonely? How can I solve...     11
4  Which one dissolve in water quikly sugar, salt...     14