In [4]:
import pandas as pd

In [5]:
npr = pd.read_csv('npr.csv')

In [6]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [8]:
# npr['Article'][0]
# len(npr)

244

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [11]:
dtm = cv.fit_transform(npr['Article'])

In [12]:
dtm

<244x7261 sparse matrix of type '<class 'numpy.int64'>'
	with 54808 stored elements in Compressed Sparse Row format>

In [13]:
from sklearn.decomposition import LatentDirichletAllocation

In [25]:
LDA = LatentDirichletAllocation(n_components=8,random_state=42)

In [26]:
LDA.fit(dtm)

LatentDirichletAllocation(n_components=8, random_state=42)

In [27]:
# Grab the vocabulary of words

In [28]:
len(cv.get_feature_names())

7261

In [29]:
type(cv.get_feature_names())

list

In [30]:
import random
random_word_id = random.randint(0,7261)
cv.get_feature_names()[random_word_id]

'cited'

In [31]:
# Grab the topics

In [32]:
len(LDA.components_)

8

In [33]:
LDA.components_[0]

array([0.125     , 4.74606189, 0.125     , ..., 0.125     , 0.125     ,
       0.125     ])

In [35]:
single_topic= LDA.components_[0]

In [36]:
single_topic.argsort()

array([1308, 1183, 2765, ..., 3664, 4749, 5743], dtype=int64)

In [38]:
single_topic.argsort()[-10:]

array([ 814, 7002, 5699, 3714, 1204, 6892, 3881, 3664, 4749, 5743],
      dtype=int64)

In [39]:
top_ten_words = single_topic.argsort()[-10:]

In [40]:
for index in top_ten_words:
    print(cv.get_feature_names()[index])

black
violence
said
know
chicago
universe
like
just
people
says

In [41]:
# Grab the highest probability words per topic

In [42]:
for index,topic in enumerate(LDA.components_):
    print(f"THE TOP 15 WORDS FOR TOPIC #{index}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-15:]])
    print('\n')
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['police', 'percent', 'way', 'think', 'gun', 'black', 'violence', 'said', 'know', 'chicago', 'universe', 'like', 'just', 'people', 'says']




THE TOP 15 WORDS FOR TOPIC #1
['country', 'republicans', 'senate', 'government', 'administration', 'campaign', 'donald', 'election', 'russian', 'intelligence', 'russia', 'obama', 'president', 'said', 'trump']




THE TOP 15 WORDS FOR TOPIC #2
['korea', 'yahoo', 'oge', 'like', 'said', 'kelly', 'trade', 'sky', 'news', 'parenthood', 'planned', 'north', 'trump', 'says', 'new']




THE TOP 15 WORDS FOR TOPIC #3
['don', 'know', 'world', 'say', 'way', 'year', 'think', 'time', 'years', 'new', 'people', 'said', 'just', 'like', 'says']




THE TOP 15 WORDS FOR TOPIC #4
['make', 'public', 'don', 'work', 'care', 'students', 'year', 'years', 'time', 'school', 'new', 'just', 'like', 'people', 'says']




THE TOP 15 WORDS FOR TOPIC #5
['time', 'members', 'act', 'says', 'sheep', 'people', 'new', 'said', 'republicans', 'disinformation', 'control', 'senate', 'diet', 'congress', 'house']




THE TOP 15 WORDS FOR TOPIC #6
['video', 'world', 'just', 'news', 'say', 'airport', 'people', 'according', 'says', 'reported', 'reports', 'santiago', 'attack', 'police', 'said']




THE TOP 15 WORDS FOR TOPIC #7
['south', 'repeal', 'obamacare', 'said', 'law', 'work', 'don', 'cave', 'study', 'brain', 'insurance', 'health', 'people', 'roof', 'says']

In [43]:
dtm

<244x7261 sparse matrix of type '<class 'numpy.int64'>'
	with 54808 stored elements in Compressed Sparse Row format>

In [44]:
npr

                                               Article
0    In the Washington of 2016, even when the polic...
1      Donald Trump has used Twitter  —   his prefe...
2      Donald Trump is unabashedly praising Russian...
3    Updated at 2:50 p. m. ET, Russian President Vl...
4    From photography, illustration and video, to d...
..                                                 ...
239  The U. S. Supreme Court heard arguments on Wed...
240  Colin Ozeki, 17, doesn’t like to sugarcoat how...
241  There’s a new jungle Jedi out there. Scientist...
242  When Noel Anaya was just a year old, he and hi...
243  The outcome of the    Obamacare debate could a...

[244 rows x 1 columns]

In [46]:
topic_results = LDA.transform(dtm)

In [53]:
topic_results[0].argmax()

1

In [54]:
npr['Topic'] = topic_results.argmax(axis=1)

In [55]:
npr

                                               Article  Topic
0    In the Washington of 2016, even when the polic...      1
1      Donald Trump has used Twitter  —   his prefe...      1
2      Donald Trump is unabashedly praising Russian...      1
3    Updated at 2:50 p. m. ET, Russian President Vl...      1
4    From photography, illustration and video, to d...      4
..                                                 ...    ...
239  The U. S. Supreme Court heard arguments on Wed...      4
240  Colin Ozeki, 17, doesn’t like to sugarcoat how...      4
241  There’s a new jungle Jedi out there. Scientist...      3
242  When Noel Anaya was just a year old, he and hi...      4
243  The outcome of the    Obamacare debate could a...      4

[244 rows x 2 columns]