In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('npr.csv')

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
cv = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [5]:
dtm = cv.fit_transform(df['Article'])

In [6]:
from sklearn.decomposition import LatentDirichletAllocation

In [7]:
lda = LatentDirichletAllocation(n_components=7 , random_state=42)

In [8]:
lda.fit(dtm)

LatentDirichletAllocation(n_components=7, random_state=42)

In [11]:
lad_result = lda.transform(dtm)

In [12]:
lda.components_[0].argsort()

array([1108, 1308, 1183, ..., 3664, 4749, 5743], dtype=int64)

In [15]:
df['Topic'] = lad_result.argmax(axis=1)

In [16]:
df

                                               Article  Topic
0    In the Washington of 2016, even when the polic...      1
1      Donald Trump has used Twitter  —   his prefe...      1
2      Donald Trump is unabashedly praising Russian...      1
3    Updated at 2:50 p. m. ET, Russian President Vl...      1
4    From photography, illustration and video, to d...      4
..                                                 ...    ...
239  The U. S. Supreme Court heard arguments on Wed...      4
240  Colin Ozeki, 17, doesn’t like to sugarcoat how...      4
241  There’s a new jungle Jedi out there. Scientist...      3
242  When Noel Anaya was just a year old, he and hi...      4
243  The outcome of the    Obamacare debate could a...      4

[244 rows x 2 columns]