1.

In [28]:
import numpy as np 
import pandas as pd

In [29]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [30]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [31]:
df.shape

(2000, 2)

2.

In [32]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [33]:
blanks = []
for ind,label,review in df.itertuples():
    if type(review)==str:
        if review.isspace()==True:
            blanks.append(ind)

In [34]:
len(blanks)

27

3.

In [50]:
df.dropna(inplace=True)

In [52]:
df.shape

(1965, 2)

In [53]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [54]:
df.drop(blanks,inplace=True)

In [56]:
df.shape

(1938, 2)

In [57]:
df[55:59]

   label                                             review
55   pos  some of my friends who went to live in usa com...
56   neg  my son and i share a perverse predilection for...
58   neg  how could a g-rated disney film based on meg c...
59   pos  wow ! what a movie . \nit's everything a movie...

4.

In [71]:
x=df['review']
y=df['label']

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [74]:
x_train.shape, x_test.shape

((1298,), (640,))

In [75]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline

In [76]:
text_csf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [77]:
text_csf.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [78]:
pred = text_csf.predict(y_test)

In [79]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [80]:
print(confusion_matrix(y_test,pred))

[[308   0]
 [332   0]]

In [81]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         neg       0.48      1.00      0.65       308
         pos       0.00      0.00      0.00       332

    accuracy                           0.48       640
   macro avg       0.24      0.50      0.32       640
weighted avg       0.23      0.48      0.31       640

c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [82]:
print(accuracy_score(y_test,pred))

0.48125