In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('MovieReview.tsv',sep='\t')

In [4]:
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [7]:
df.drop(['id'],inplace=True,axis=1)

In [28]:
df.shape

(25000, 2)

In [8]:
df.head()

   sentiment                                             review
0          1  With all this stuff going down at the moment w...
1          1  \The Classic War of the Worlds\" by Timothy Hi...
2          0  The film starts with a manager (Nicholas Bell)...
3          0  It must be assumed that those who praised this...
4          1  Superbly trashy and wondrously unpretentious 8...

In [9]:
df.isnull().sum()

sentiment    0
review       0
dtype: int64

In [12]:
blanks = []
for ind,sent,review in df.itertuples():
    if type(review) == str:
        if review.isspace() == True:
            blanks.append(ind)
len(blanks)

0

In [15]:
X = df['review']
y = df['sentiment']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [29]:
X_train.shape,X_test.shape

((16750,), (8250,))

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline

In [22]:
text_cls = Pipeline([('tfidf',TfidfVectorizer()),('cls',LinearSVC())])

In [24]:
text_cls.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('cls', LinearSVC())])

In [25]:
pred = text_cls.predict(X_test)

In [26]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [27]:
print(confusion_matrix(y_test,pred))

[[3657  448]
 [ 414 3731]]

In [30]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.90      0.89      0.89      4105
           1       0.89      0.90      0.90      4145

    accuracy                           0.90      8250
   macro avg       0.90      0.90      0.90      8250
weighted avg       0.90      0.90      0.90      8250

In [31]:
print(accuracy_score(y_test,pred))

0.8955151515151515